<!--- main.hbs-->

<!-- Citation Scope: - Developing Node.JS pages / CRUD abilties and HBS Webpages for project -->
<!-- Date: 3/16/2023 -->
<!-- Originality: Adapted from Node.JS starter guide from Exploration - Developing in Node.JS -->
<!-- Source: https://github.com/osu-cs340-ecampus/nodejs-starter-app -->

<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>The Duck Walk</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
